.file.is-info .file-cta {
    border-radius: 50em;
    color: white;
    background: linear-gradient(to bottom, #9900cc 0%, #9900cc 100%);
}

.buttonx {
    background-color: silver;
    color: black;
    border-radius: 50px;
    font-size: 17px;
    padding: 0.5em 2em 0.5em 2em;
    border-style: none;
}

.button-sort {
    background-color: rgb(214, 213, 213);
    color: black;
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 50px;
    font-size: 17px;
    border-style: none;
}

.AllFile-Files-Document {
    display: flex;
    flex-wrap: wrap;
}

.Uploderbtn {
    padding: 0.5em 2em 0.5em 2em;
    background-color: blueviolet;
    border-style: none;
    border-radius: 10em;
    font-size: 17px;
    color: white;

}

.AlllFiles_Recommend_checkbox input {
    height: 1.5em;
    width: 1.5em;
    margin: 5px;
}

.AlllFiles_File_checkbox input {
    height: 1.5em;
    width: 1.5em;
    margin: 5px;
}

.User_pic {
    border-radius: 50px;
    height: 50px;
    position: relative;
    width: 50px;
}

.User_pic_two {
    border-radius: 50px;
    height: 50px;
    position: absolute;
    margin-left: -20px;
    width: 50px;
}

.User_pic_three {
    border-radius: 50px;
    height: 50px;
    position: absolute;
    margin-left: 10px;
    width: 50px;
}

.User_pic_four {
    border-radius: 50px;
    height: 50px;
    position: absolute;
    margin-left: 40px;
    width: 50px;
}

.YOU {
    position: absolute;
    margin-top: -2.5rem;
    margin-left: 4rem;
}

.AllFiles_Status_Document_text {
    font-size: 12px;
    margin-top: 10px;
}

.broblem_text {
    font-size: small;
}

.Uploade_Page_fullsreen .file-upload-form {
    width: 140vh;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Uploade_Page_fullsreen .file-upload-label input {
    display: none;
}

.Uploade_Page_fullsreen .file-upload-label svg {
    height: 50px;
    fill: rgb(82, 82, 82);
    margin-bottom: 20px;
}

.Uploade_Page_fullsreen .file-upload-label {
    cursor: pointer;
    background-color: #ddd;
    padding: 50px 220px 50px 220px;
    border-radius: 20px;
    border: 2px dashed rgb(82, 82, 82);
    box-shadow: 0px 0px 200px -50px rgba(0, 0, 0, 0.719);
}

.Uploade_Page_fullsreen .file-upload-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.Uploade_Page_fullsreen .browse-button:hover {
    background-color: rgb(14, 14, 14);
}

.Delete_Option_btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
}