.file.is-info .file-cta {
    border-radius: 50em;
    color: white;
    background: linear-gradient(to bottom, #9900cc 0%, #9900cc 100%);
}

.buttonx {
    background-color: silver;
    color: black;
    border-radius: 3.125rem;
    font-size: 1.0625rem;
    padding: 0.5em 2em 0.5em 2em;
    border-style: none;
}

.button-sort {
    background-color: rgb(214, 213, 213);
    color: black;
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 3.125rem;
    font-size: 1.0625rem;
    border-style: none;
}

.AllFile-Files-Document {
    display: flex;
    flex-wrap: wrap;
}

.Uploderbtn {
    padding: 0.5em 2em 0.5em 2em;
    background-color: blueviolet;
    border-style: none;
    border-radius: 10em;
    font-size: 1.0625rem;
    color: white;

}

.AlllFiles_Recommend_checkbox input {
    height: 1.5em;
    width: 1.5em;
    margin: 0.3125rem;
}

.AlllFiles_File_checkbox input {
    height: 1.5em;
    width: 1.5em;
    margin: 0.3125rem;
}

.User_pic {
    border-radius: 3.125rem;
    height: 3.125rem;
    position: relative;
    width: 3.125rem;
}

.User_pic_two {
    border-radius: 3.125rem;
    height: 3.125rem;
    position: absolute;
    margin-left: -1.25rem;
    width: 3.125rem;
}

.User_pic_three {
    border-radius: 3.125rem;
    height: 3.125rem;
    position: absolute;
    margin-left: 0.625rem;
    width: 3.125rem;
}

.User_pic_four {
    border-radius: 3.125rem;
    height: 3.125rem;
    position: absolute;
    margin-left: 2.5rem;
    width: 3.125rem;
}

.YOU {
    position: absolute;
    margin-top: -2.5rem;
    margin-left: 4rem;
}

.AllFiles_Status_Document_text {
    font-size: 1rem;
    margin-top: 0.625rem;
}

.broblem_text {
    font-size: small;
}

.Uploade_Page_fullsreen .file-upload-form {
    width: 140vh;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Uploade_Page_fullsreen .file-upload-label input {
    display: none;
}

.Uploade_Page_fullsreen .file-upload-label svg {
    height: 3.125rem;
    fill: rgb(82, 82, 82);
    margin-bottom: 1.25rem;
}

.Uploade_Page_fullsreen .file-upload-label {
    cursor: pointer;
    background-color: #ddd;
    padding: 3.125rem 13.75rem 3.125rem 13.75rem;
    border-radius: 1.25rem;
    border: 0.125rem dashed rgb(82, 82, 82);
    box-shadow: 0rem 0rem 12.5rem -3.125rem rgba(0, 0, 0, 0.719);
}

.Uploade_Page_fullsreen .file-upload-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3125rem;
}

.Uploade_Page_fullsreen .browse-button:hover {
    background-color: rgb(14, 14, 14);
}

.Delete_Option_btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.3125rem;
}

.ShareFolderNotification_menmalimages img {
    height: 3rem;
    width: 6rch;
    border-radius: 3.125rem;
    margin-bottom: 0.625rem;


}

.ShareFolderNotification_name {
    color: black;
    position: absolute;
    top: 0rem;
    left: 5rem;
}

.ShareFolderNotification_mails {
    font-size: 1rem;
    position: absolute;
    top: 1.5625rem;
    left: 5rem;
}

.ShareFolderNotification_faiders {
    position: absolute;
    right: 0;
    top: 1rem;
    padding-right: 3rem;

}

.ShareFolderNotification_Access_profile {
    position: relative;
}