.dashboard-insights-button {
    border: 0px;
    outline: none;
}

.dashboard-insights-para2 {
    font-size: 0.8em;
}

.dashboard-insights-hr {
    background-color: black;
    height: 1px;
    border-bottom: 2px #000000;
}