body{
    background: #fafafa;
}
.smart-pdf-container{
    padding-left:0 !important;
    padding-right:0 !important;
}
.smart-mainlayout-middle{
    min-height: 500px;
    background-color: #fff;
}
.smart-site-header{
    position: fixed;
    height:70px;
    width:100%;
    top:0
}
.smart-site-sidenav{
    position: fixed;
    margin-top: 70px;
    width:200px;
    top:0
}
.smart-site-middile{
    margin-top: 70px;
    margin-left: 200px;
    max-height: calc(100vh - 70px);
    width:100%;
    padding:10px;
}
