.themes-menubar-title {
  /* color: #cf1bce; */
  font-weight: bold;
  font-size: 1.25em;
}

.themes-menubar-input {
  background-color: rgb(241, 237, 237);
  border: 0px;
  border-radius: 6em;
  width: 50em;
}

.themes-manubar-bell {
  background-color: rgb(241, 237, 237);
  border-radius: 50%;
  height: 2em;
  width: 2em;
}

.themes-manubar-setting {
  background-color: #cf1bce;
  border-radius: 50%;
  height: 2em;
  width: 2em;
  color: #fff;
}

.themes-menubar-item {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 0.5em;
}

.main-top-bar {
  z-index: 1000;
}

.themes-menubar-dropdown {
  border: none;
}

.themes-menubar-search{
  width: 50em;
}
