.themes-menubar-title {
  color: #cf1bce;
  font-weight: bold;
  font-size: 1.25em;
}

.themes-menubar-input {
  background-color: rgb(241, 237, 237);
  border: 0px;
  border-radius: 6em;
  width: 50em;
}

.themes-manubar-bell {
  background-color: rgb(241, 237, 237);
  border-radius: 50%;
  height: 2em;
  width: 2em;
}

.themes-manubar-setting {
  background-color: #cf1bce;
  border-radius: 50%;
  height: 2em;
  width: 2em;
  color: #fff;
}

.themes-menubar-item {
  justify-content: space-between;
  display: inline-flex;
}

.themes-menubar-navbar{
  z-index: 999;
}
